<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disaster Management App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body >
    
        <div class="container">
            <div class="header">
                <div class="logo">
                    <svg width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="#ff7b25" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M12 2L2 12h3v8h14v-8h3L12 2z"></path>
                </svg>
            </div>
            <h1>Disaster Management</h1>
            <p>Login to access the system</p>
        </div>
        <div class="image-section">
              <div class="image-overlay">
                <br /><br />
                <p class="image-text">This app is meant to provide the notification to its users about various natural disasters
                like cyclone, flood t-sunami, etc.. through SMS</p><br />
                <p class="image-text"><b>"BE THE FIRST PERSON TO RECEIVE ALERTS ABOUT UPCOMING DISASTER"</b></p>
              </div>
            </div>
        <form id="loginForm" method="POST" action="/auth/login">
            <div class="form-group">
                <label for="user_id">Employee ID</label>
                <input type="text" name="user_id" id="user_id" class="form-control" required placeholder="Enter your ID">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" required placeholder="Enter your password">
            </div>
            
            <button type="submit" class="btn">Login</button>
        </form>
        
        <div class="footer">
            <p>Having trouble logging in? <a href="#">Contact support</a></p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='login.js') }}"></script>
</body>
</html>
